/* CLASS UTILITY */
.container-green{
    background-color: hsl(168deg 76% 42%);
    padding: 40px 0;
    color: white;
    text-align: center;
}

.container-white{
    color: hsl(0deg 0% 24%);
    text-align: center;
    padding: 40px 0;
}

.title{
    margin-bottom: 10px;
}
/* END CLASS UTILITY */



.header-row{
    justify-content: center;
}

.avatar{
    width: 200px;
    
}

.star-icon:after {
    display: inline-block;
    margin: 0 0 5px 10px;
    height: 3px;
    content: " ";
    background-color: white;
    width: 80px;
}
.star-icon:before {
    display: inline-block;
    margin: 0 10px 5px 0;
    height: 3px;
    content: " ";
    background-color: white;
    width: 80px;
}



.star2-icon:after {
    display: inline-block;
    margin: 0 0 5px 10px;
    height: 3px;
    content: " ";
    background-color: hsl(0deg 0% 24%);
    width: 120px;
}
.star2-icon:before {
    display: inline-block;
    margin: 0 10px 5px 0;
    height: 3px;
    content: " ";
    background-color: hsl(0deg 0% 24%);
    width: 120px;
}

.resize-img{
    width: 100%;
    margin: 12px 0;
}


.item-text-about{
    text-align: left;
    margin-bottom: 20px;
}

.download{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.input-contact-me{
    border: 0px;
    border-bottom: 1px solid black;
    border-color: lightgrey;
    margin-top: 10px;
    padding-bottom: 10px;
}

.input-contact-me::placeholder{
    color: hsl(0deg 0% 24%);
}